<button {{action "pressMe"}}>Click Here</button><br>
<button {{action "useAutoLoad"}}>Use auto load to component</button><br>
<h2>{{text}}</h2>
<button {{action "scheduleTasks"}}>Schedule Tasks!</button>
{{yield}}